.main-header-container {
    background-color: purple;
    height: 40px;
    padding: 11px;
}

.main-header-container img {
    height: 35px;
    background-color: #ff7f7f;
    float: left;
}

.main-header-container #header-title {
    font-size: x-large;
    font-weight: normal;
    color: white;
}

.main-header-container Button {
    float: right;
}